/*  top button css begin */


.top-btn {
	position: fixed;
	bottom: 100px;
	right: -50px;
	height: 50px;
	width: 50px;
	background: url('/common/img/top.png') 0 0 no-repeat;
	cursor: pointer;
}

.top-btn:hover {
	background-position: -50px 0px;
	cursor: url(/common/img/cursors/handcursor.cur), auto;
}

.top-show {
	right: 100px;
	-webkit-animation: top-show 1s linear;
	-moz-animation: top-show 1s linear;
	-ms-animation: top-show 1s linear;
	-o-animation: top-show 1s linear;
	animation: top-show 1s linear;
}

.top-hide {
	right: -50px;
	-webkit-animation: top-hide 1s linear;
	-moz-animation: top-hide 1s linear;
	-ms-animation: top-hide 1s linear;
	-o-animation: top-hide 1s linear;
	animation: top-hide 1s linear;
}


/* top button css end */